.overlay {
  position: fixed;
  inset: 0;
  background: rgba(34, 37, 40, 0.603);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 578px;
  max-height: 184px;
  top: 641px;
  left: 128px;
  border-radius: 8px;
  gap: 24px;
  padding: 16px;

  background: var(--neutral-color-3);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
}
