.chip {
  display: inline-flex;
  align-items: center;
  width: auto;
  height: 32px;
  padding: 4px 16px;
  gap: 8px;

  font-size: var(--body-m-size);
  line-height: var(--body-m-line-height);
  font-weight: var(--body-weight-bold);
  letter-spacing: var(--body-letter-spacing);
  border-radius: 4px;
}

.chipIcon {
  width: 24px;
  height: 24px;
}

.solid-default {
  color: var(--neutral-color-1);
  background-color: rgba(148, 151, 154, 0.1);
}

.solid-success {
  color: var(--secondary-color-4);
  background-color: rgba(112, 178, 82, 0.1);
}

.solid-info {
  color: #2f61bf;
  background-color: rgba(47, 97, 191, 0.1);
}

.solid-warning {
  color: var(--tertiary-color-4);
  background-color: rgba(229, 180, 84, 0.1);
}

.solid-error {
  color: var(--primary-color-4);
  background-color: rgba(218, 88, 75, 0.1);
}

.outline-default {
  color: var(--neutral-color-1);
  border: 1px solid var(--neutral-color-1);
}

.outline-success {
  color: var(--secondary-color-4);
  border: 1px solid var(--secondary-color-4);
}

.outline-info {
  color: #2f61bf;
  border: 1px solid #2f61bf;
}

.outline-warning {
  color: var(--tertiary-color-4);
  border: 1px solid var(--tertiary-color-4);
}

.outline-error {
  color: var(--primary-color-4);
  border: 1px solid var(--primary-color-4);
}
